<div class="costCenters view">
<h2><?php echo __('Centro de Costo'); ?></h2>
	<dl>
		<!-- <dt><?php echo __('Id'); ?></dt>
		<dd>
			<?php echo h($costCenter['CostCenter']['id']); ?>
			&nbsp;
		</dd> -->
		<dt><?php echo __('Nombre'); ?></dt>
		<dd>
			<?php echo h($costCenter['CostCenter']['name']); ?>
			&nbsp;
		</dd>
		<dt><?php echo __('Código'); ?></dt>
		<dd>
			<?php echo h($costCenter['CostCenter']['code']); ?>
			&nbsp;
		</dd>
		<!-- <dt><?php echo __('Created'); ?></dt>
		<dd>
			<?php echo h($costCenter['CostCenter']['created']); ?>
			&nbsp;
		</dd>
		<dt><?php echo __('Updated'); ?></dt>
		<dd>
			<?php echo h($costCenter['CostCenter']['updated']); ?>
			&nbsp;
		</dd> -->
	</dl>
</div>

