<div class="homes form form-horizontal">
<?php echo $this->Form->create('Home'); ?>
	<fieldset>
		<legend><?php echo __('Add Home'); ?></legend>
		<div class="form-group">
			<label class='col-lg-2 control-label'>tendency</label>
			<div class="col-lg-10">
				<?php echo $this->Form->input('tendency', array(
				'div'=>false, 'label'=>false, 'class' => 'form-control')); ?>
			</div>
		</div>
		<div class="form-group">
			<label class='col-lg-2 control-label'>worker_id</label>
			<div class="col-lg-10">
				<?php echo $this->Form->input('worker_id', array(
				'div'=>false, 'label'=>false, 'class' => 'form-control')); ?>
			</div>
		</div>
		<div class="form-group">
			<label class='col-lg-2 control-label'>Service</label>
			<div class="col-lg-10">
				<?php echo $this->Form->input('Service', array(
				'div'=>false, 'label'=>false, 'class' => 'form-control')); ?>
			</div>
		</div>
	</fieldset>
<div class='form-actions'>
	<div class="col-md-offset-4 col-md-3">
		<?php
		$options = array('label' => 'Guardar', 'class' => 'btn btn-success', 'div' => false);
		echo $this->Form->end($options);
		?>
	</div>
	<div class="col-md-3">
		<?php
		echo $this->Form->button('Cancelar', array(
			'type' => 'button', 'class' => 'btn btn-danger', 'div' => false,
			'onclick' => 'history.back();'
			));
		?>
	</div>
	<br>
	<br>
</div>
</div>

