<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Sisproe <small>Recursos Humanos</small>
        </h1>
        <ol class="breadcrumb">
            <li class="active">
                Seleccione una opcción del panel izquierdo para continuar.
            </li>
        </ol>
    </div>
</div>